<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Cadastro</title>
    </h:head>
    <h:body>  
         <ui:include src="menu.xhtml"/>
         
        <p:fieldset legend="Cadastro de Mensagem">
            <h:form>  
                <p:panelGrid columns="2">
                    <p:outputLabel value="Nome:"></p:outputLabel>    
                    <p:inputText id="nome" value="#{cadastroBean.mensagem.nome}"></p:inputText>
                    <p:outputLabel value="E-mail:"></p:outputLabel>    
                    <p:inputText id="email" value="#{cadastroBean.mensagem.email}"></p:inputText>
                    <p:commandButton value="Enviar" action="#{cadastroBean.cadastrar()}"
                                     update="@form"></p:commandButton>

                    <p:commandButton value="Listar" action="#{cadastroBean.listar()}" update="@form"></p:commandButton>
                </p:panelGrid> 
               
                <p:dataTable value="#{cadastroBean.listamsg}" var="lista">
                    <p:column headerText="Código" sortBy="">
                        <h:outputText value="#{lista.codigo}"></h:outputText>   
                    </p:column>
                    <p:column headerText="Nome" sortBy="#{lista.nome}">
                        <h:outputText value="#{lista.nome}"></h:outputText>   
                    </p:column>
                    <p:column headerText="E-mail">
                        <h:outputText value="#{lista.email}"></h:outputText>   
                    </p:column>
                </p:dataTable>
 
            </h:form>    
        </p:fieldset>

    </h:body>
</html>